In [1]:
%sh cd ..
cd ..
cd dbfs/FileStore/tables/1x42p66f1497639007910
ls

In [2]:
%scala
val df = spark.read.format("csv")
.option("header", "true")
.option("inferSchema", "true")
.load("/FileStore/tables/1x42p66f1497639007910/online_retail_dataset-92e8e.csv")
.coalesce(5)
df.cache()
df.createOrReplaceTempView("dfTable")

In [3]:
df = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("/FileStore/tables/1x42p66f1497639007910/online_retail_dataset-92e8e.csv")\
.coalesce(5)
df.cache()
df.createOrReplaceTempView("dfTable")
df.count()

In [4]:
%scala
import org.apache.spark.sql.functions.count
df.select(count("StockCode")).collect()

In [5]:
from pyspark.sql.functions import count
df.select(count("StockCode")).collect()

In [6]:
%sql
SELECT COUNT(*) FROM dfTable

In [7]:
%scala
import org.apache.spark.sql.functions.countDistinct
df.select(countDistinct("StockCode")).collect()

In [8]:
from pyspark.sql.functions import countDistinct
df.select(countDistinct("StockCode")).collect()

In [9]:
%sql
SELECT COUNT(DISTINCT *) FROM DFTABLE

In [10]:
%scala
import org.apache.spark.sql.functions.approx_count_distinct
df.select(approx_count_distinct("StockCode", 0.1)).collect()

In [11]:
from pyspark.sql.functions import approx_count_distinct
df.select(approx_count_distinct("StockCode", 0.1)).collect()

In [12]:
%sql
SELECT approx_count_distinct(StockCode, 0.1) FROM DFTABLE

In [13]:
%scala
import org.apache.spark.sql.functions.{first, last}
df.select(first("StockCode"), last("StockCode")).collect()

In [14]:
from pyspark.sql.functions import first, last
df.select(first("StockCode"), last("StockCode")).collect()

In [15]:
%sql
SELECT first(StockCode), last(StockCode) FROM dfTable

In [16]:
%scala
import org.apache.spark.sql.functions.{min, max}
df.select(min("Quantity"), max("Quantity")).collect()

In [17]:
from pyspark.sql.functions import min, max
df.select(min("Quantity"), max("Quantity")).collect()

In [18]:
%sql
SELECT min(Quantity), max(Quantity) FROM dfTable

In [19]:
%scala
import org.apache.spark.sql.functions.sum
df.select(sum("Quantity")).show()

In [20]:
from pyspark.sql.functions import sum
df.select(sum("Quantity")).show()

In [21]:
%sql
SELECT sum(Quantity) FROM dfTable

In [22]:
%scala
import org.apache.spark.sql.functions.sumDistinct
df.select(sumDistinct("Quantity")).show()

In [23]:
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("Quantity")).show()

In [24]:
%sql
SELECT SUM(DISTINCT Quantity) FROM dfTable

In [25]:
%scala
import org.apache.spark.sql.functions.{sum, count, avg, expr}
df.select(
count("Quantity").alias("total_transactions"),
sum("Quantity").alias("total_purchases"),
avg("Quantity").alias("avg_purchases"),
expr("mean(Quantity)").alias("mean_purchases"))
.selectExpr(
"total_purchases/total_transactions",
"avg_purchases",
"mean_purchases")
.collect()

In [26]:
from pyspark.sql.functions import sum, count, avg, expr
df.select(
count("Quantity").alias("total_transactions"),
sum("Quantity").alias("total_purchases"),
avg("Quantity").alias("avg_purchases"),
expr("mean(Quantity)").alias("mean_purchases"))\
.selectExpr(
"total_purchases/total_transactions",
"avg_purchases",
"mean_purchases")\
.collect()

In [27]:
%scala
import org.apache.spark.sql.functions.{var_pop, stddev_pop}
import org.apache.spark.sql.functions.{var_samp, stddev_samp}
df.select(
  var_pop("Quantity"),
var_samp("Quantity"),
stddev_pop("Quantity"),
stddev_samp("Quantity"))
.collect()

In [28]:
from pyspark.sql.functions import var_pop, stddev_pop
from pyspark.sql.functions import var_samp, stddev_samp
df.select(
var_pop("Quantity"),
var_samp("Quantity"),
stddev_pop("Quantity"),
stddev_samp("Quantity"))\
.collect()

In [29]:
%sql
SELECT
var_pop(Quantity),
var_samp(Quantity),
stddev_pop(Quantity),
stddev_samp(Quantity)
FROM
dfTable

In [30]:
%scala
import org.apache.spark.sql.functions.{skewness, kurtosis}
df.select(
skewness("Quantity"),
kurtosis("Quantity"))
.collect()

In [31]:
from pyspark.sql.functions import skewness, kurtosis
df.select(
skewness("Quantity"),
kurtosis("Quantity"))\
.collect()

In [32]:
%sql
SELECT
skewness(Quantity),
kurtosis(Quantity)
FROM
dfTable

In [33]:
%scala
import org.apache.spark.sql.functions.{corr, covar_pop, covar_samp}
df.select(
corr("InvoiceNo", "Quantity"),
covar_samp("InvoiceNo", "Quantity"),
covar_pop("InvoiceNo", "Quantity"))
.show()

In [34]:
from pyspark.sql.functions import corr, covar_pop, covar_samp
df.select(
corr("InvoiceNo", "Quantity"),
covar_samp("InvoiceNo", "Quantity"),
covar_pop("InvoiceNo", "Quantity"))\
.show()

In [35]:
%sql
SELECT
corr(InvoiceNo, Quantity),
covar_samp(InvoiceNo, Quantity),
covar_pop(InvoiceNo, Quantity)
FROM
dfTable

In [36]:
%scala
import org.apache.spark.sql.functions.{collect_set, collect_list}
df.agg(
collect_set("Country"),
collect_list("Country"))
.show()

In [37]:
from pyspark.sql.functions import collect_set, collect_list
df.agg(
collect_set("Country"),
collect_list("Country"))\
.show()

In [38]:
%sql
SELECT
collect_set(Country),
collect_set(Country)
FROM
dfTable

In [39]:
df.groupBy("invoiceNo").count().show()

In [40]:
%scala
df.groupBy("InvoiceNo", "CustomerId")
.count()
.show()

In [41]:
%sql
SELECT
count(*)
FROM
dfTable
GROUP BY
InvoiceNo, CustomerId

In [42]:
%scala
import org.apache.spark.sql.functions.count
df.groupBy("InvoiceNo")
.agg(
count("Quantity").alias("quan"),
expr("count(Quantity)"))
.show()

In [43]:
from pyspark.sql.functions import count
df.groupBy("InvoiceNo")\
.agg(
count("Quantity").alias("quan"),
expr("count(Quantity)"))\
.show()

In [44]:
%scala
df.groupBy("InvoiceNo")
.agg(
"Quantity" ->"avg",
"Quantity" -> "stddev_pop")
.show()

In [45]:
df.groupBy("InvoiceNo")\
.agg(expr("avg(Quantity)"),
expr("stddev_pop(Quantity)"))\
.show()

In [46]:
%sql
SELECT
avg(Quantity),
stddev_pop(Quantity),
InvoiceNo
FROM
dfTable
GROUP BY
InvoiceNo

In [47]:
%scala
import org.apache.spark.sql.functions.col
val dfWithDate = df.withColumn("date", col("InvoiceDate").cast("date"))
dfWithDate.createOrReplaceTempView("dfWithDate")

In [48]:
from pyspark.sql.functions import col
dfWithDate = df.withColumn("date", col("InvoiceDate").cast("date"))
dfWithDate.createOrReplaceTempView("dfWithDate")

In [49]:
%scala
import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.functions.col
val windowSpec = Window
.partitionBy("CustomerId", "date")
.orderBy(col("Quantity").desc)
.rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [50]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc
windowSpec = Window\
.partitionBy("CustomerId", "date")\
.orderBy(desc("Quantity"))\
.rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [51]:
%scala
import org.apache.spark.sql.functions.max
val maxPurchaseQuantity = max(col("Quantity"))
.over(windowSpec)

In [52]:
from pyspark.sql.functions import max
maxPurchaseQuantity = max(col("Quantity"))\
.over(windowSpec)

In [53]:
%scala
import org.apache.spark.sql.functions.{dense_rank, rank}
val purchaseDenseRank = dense_rank()
.over(windowSpec)
val purchaseRank = rank()
.over(windowSpec)

In [54]:
from pyspark.sql.functions import dense_rank, rank
purchaseDenseRank = dense_rank()\
.over(windowSpec)
purchaseRank = rank()\
.over(windowSpec)

In [55]:
%scala
import org.apache.spark.sql.functions.col
dfWithDate
.where("CustomerId IS NOT NULL")
.orderBy("CustomerId")
.select(
col("CustomerId"),
col("date"),
col("Quantity"),
purchaseRank.alias("quantityRank"),
purchaseDenseRank.alias("quantityDenseRank"),
maxPurchaseQuantity.alias("maxPurchaseQuantity"))
.show()

In [56]:
from pyspark.sql.functions import col
dfWithDate\
.where("CustomerId IS NOT NULL")\
.orderBy("CustomerId")\
.select(
col("CustomerId"),
col("date"),
col("Quantity"),
purchaseRank.alias("quantityRank"),
purchaseDenseRank.alias("quantityDenseRank"),
maxPurchaseQuantity.alias("maxPurchaseQuantity"))\
.show()

In [57]:
%sql
SELECT
CustomerId,
date,
Quantity,
rank(Quantity) OVER (PARTITION BY CustomerId, date
ORDER BY Quantity DESC NULLS LAST
ROWS BETWEEN
UNBOUNDED PRECEDING AND
CURRENT ROW) as rank,
dense_rank(Quantity) OVER (PARTITION BY CustomerId, date
ORDER BY Quantity DESC NULLS LAST
ROWS BETWEEN
UNBOUNDED PRECEDING AND
CURRENT ROW) as dRank,
max(Quantity) OVER (PARTITION BY CustomerId, date
ORDER BY Quantity DESC NULLS LAST
ROWS BETWEEN
UNBOUNDED PRECEDING AND
CURRENT ROW) as maxPurchase
FROM
dfWithDate
WHERE
CustomerId IS NOT NULL
ORDER BY
CustomerId

In [58]:
%scala
val rolledUpDF = dfWithDate.rollup("Date", "Country")
.agg(sum("Quantity"))
.selectExpr("Date", "Country", "`sum(Quantity)` as total_quantity")
.orderBy("Date")
rolledUpDF.show(20)

In [59]:
rolledUpDF = dfWithDate.rollup("Date", "Country")\
.agg(sum("Quantity"))\
.selectExpr("Date", "Country", "`sum(Quantity)` as total_quantity")\
.orderBy("Date")
rolledUpDF.show(20)

In [60]:
rolledUpDF.where("Country IS NULL").show()
rolledUpDF.where("Date IS NULL").show()

In [61]:
%scala
dfWithDate.cube("Date", "Country")
.agg(sum(col("Quantity")))
.select("Date", "Country", "sum(Quantity)")
.orderBy("Date")
.show(20)

In [62]:
dfWithDate.cube("Date", "Country")\
.agg(sum(col("Quantity")))\
.select("Date", "Country", "sum(Quantity)")\
.orderBy("Date")\
.show(20)

In [63]:
%scala
val pivoted = dfWithDate
.groupBy("date")
.pivot("Country")
.agg("quantity" -> "sum")

In [64]:
pivoted = dfWithDate\
.groupBy("date")\
.pivot("Country")\
.agg({"quantity":"sum"})

In [65]:
pivoted.columns
pivoted.where("date > '2011-12-05'").select("USA").show()

In [66]:
%scala
import org.apache.spark.sql.expressions.MutableAggregationBuffer
import org.apache.spark.sql.expressions.UserDefinedAggregateFunction
import org.apache.spark.sql.Row
import org.apache.spark.sql.types._
class BoolAnd extends UserDefinedAggregateFunction {
def inputSchema: org.apache.spark.sql.types.StructType =
  StructType(StructField("value", BooleanType) :: Nil)
def bufferSchema: StructType = StructType(
  StructField("result", BooleanType) :: Nil
)
def dataType: DataType = BooleanType
def deterministic: Boolean = true
def initialize(buffer: MutableAggregationBuffer): Unit = {
  buffer(0) = true
}
def update(buffer: MutableAggregationBuffer, input: Row): Unit = {
  buffer(0) = buffer.getAs[Boolean](0) && input.getAs[Boolean](0)
}
def merge(buffer1: MutableAggregationBuffer, buffer2: Row): Unit = {
  buffer1(0) = buffer1.getAs[Boolean](0) && buffer2.getAs[Boolean](0)
}
def evaluate(buffer: Row): Any = {
  buffer(0)
}
}
val ba = new BoolAnd
spark.udf.register("booland", ba)
import org.apache.spark.sql.functions._
spark.range(1)
.selectExpr("explode(array(TRUE, TRUE, TRUE)) as t")
.selectExpr("explode(array(TRUE, FALSE, TRUE)) as f", "t")
.select(ba(col("t")), expr("booland(f)"))
.show()

In [67]:
%scala
val person = Seq(
(0, "Bill Chambers", 0, Seq(100)),
(1, "Matei Zaharia", 1, Seq(500, 250, 100)),
(2, "Michael Armbrust", 1, Seq(250, 100)))
.toDF("id", "name", "graduate_program", "spark_status")
val graduateProgram = Seq(
(0, "Masters", "School of Information", "UC Berkeley"),
(2, "Masters", "EECS", "UC Berkeley"),
(1, "Ph.D.", "EECS", "UC Berkeley"))
.toDF("id", "degree", "department", "school")
val sparkStatus = Seq(
(500, "Vice President"),
(250, "PMC Member"),
(100, "Contributor"))
.toDF("id", "status")

In [68]:
person = spark.createDataFrame([
(0, "Bill Chambers", 0, [100]),
(1, "Matei Zaharia", 1, [500, 250, 100]),
(2, "Michael Armbrust", 1, [250, 100])])\
.toDF("id", "name", "graduate_program", "spark_status")
graduateProgram = spark.createDataFrame([
(0, "Masters", "School of Information", "UC Berkeley"),
(2, "Masters", "EECS", "UC Berkeley"),
(1, "Ph.D.", "EECS", "UC Berkeley")])\
.toDF("id", "degree", "department", "school")
sparkStatus = spark.createDataFrame([
(500, "Vice President"),
(250, "PMC Member"),
(100, "Contributor")])\
.toDF("id", "status")
person.createOrReplaceTempView("person")
graduateProgram.createOrReplaceTempView("graduateProgram")
sparkStatus.createOrReplaceTempView("sparkStatus")

In [69]:
%scala
val joinExpression = person.col("graduate_program") === graduateProgram.col("id")

In [70]:
joinExpression = person["graduate_program"] == graduateProgram['id']

In [71]:
%scala
val wrongJoinExpression = person.col("name") === graduateProgram.col("school")

In [72]:
wrongJoinExpression = person["name"] == graduateProgram["school"]
person.join(graduateProgram, joinExpression).show()

In [73]:
%sql
SELECT
*
FROM
person
JOIN graduateProgram
ON person.graduate_program = graduateProgram.id

In [74]:
%scala
var joinType = "inner"

In [75]:
joinType = "inner"
person.join(graduateProgram, joinExpression, joinType).show()

In [76]:
%sql
SELECT
*
FROM
person
INNER JOIN graduateProgram
ON person.graduate_program = graduateProgram.id

In [77]:
joinType = "outer"
person.join(graduateProgram, joinExpression, joinType).show()

In [78]:
%sql
SELECT
*
FROM
person
OUTER JOIN graduateProgram
ON graduate_program = graduateProgram.id

In [79]:
joinType = "left_outer"
graduateProgram.join(person, joinExpression, joinType).show()

In [80]:
%sql
SELECT
*
FROM
graduateProgram
JOIN person
ON person.graduate_program = graduateProgram.id

In [81]:
joinType = "right_outer"
person.join(graduateProgram, joinExpression, joinType).show()

In [82]:
%sql
SELECT
*
FROM
person
RIGHT OUTER JOIN graduateProgram
ON person.graduate_program = graduateProgram.id

In [83]:
joinType = "left_semi"
graduateProgram.join(person, joinExpression, joinType).show()

In [84]:
%scala
val gradProgram2 = graduateProgram
.union(Seq(
(0, "Masters", "Duplicated Row", "Duplicated School")).toDF())
gradProgram2.createOrReplaceTempView("gradProgram2")

In [85]:
gradProgram2 = graduateProgram\
.union(spark.createDataFrame([
(0, "Masters", "Duplicated Row", "Duplicated School")]))
gradProgram2.createOrReplaceTempView("gradProgram2")
gradProgram2.join(person, joinExpression, joinType).show()

In [86]:
%sql
SELECT *
FROM
gradProgram2
LEFT SEMI JOIN person
ON gradProgram2.id = person.graduate_program

In [87]:
joinType = "left_anti"
graduateProgram.join(person, joinExpression, joinType).show()

In [88]:
%sql
SELECT
*
FROM
graduateProgram
LEFT ANTI JOIN person
ON graduateProgram.id = person.graduate_program

In [89]:
joinType = "cross"
graduateProgram.join(person, joinExpression, joinType).show()

In [90]:
%sql
SELECT
*
FROM
graduateProgram
CROSS JOIN person
ON graduateProgram.id = person.graduate_program

In [91]:
person.crossJoin(graduateProgram).show()

In [92]:
%sql
SELECT
*
FROM
graduateProgram
CROSS JOIN person

In [93]:
%scala
import org.apache.spark.sql.functions.expr
person
.withColumnRenamed("id", "personId")
.join(sparkStatus, expr("array_contains(spark_status, id)"))
.take(5)

In [94]:
from pyspark.sql.functions import expr
person\
.withColumnRenamed("id", "personId")\
.join(sparkStatus, expr("array_contains(spark_status, id)"))\
.take(5)

In [95]:
%sql
SELECT
*
FROM
(select id as personId, name, graduate_program, spark_status FROM person)
INNER JOIN sparkStatus
on array_contains(spark_status, id)

In [96]:
%scala
val gradProgramDupe = graduateProgram.withColumnRenamed("id", "graduate_program")
val joinExpr = gradProgramDupe.col("graduate_program") === person.col("graduate_program")
person.join(gradProgramDupe, joinExpr).show()

In [97]:
%scala
person
.join(gradProgramDupe, joinExpr)
.select("graduate_program")
.show()
person
.join(gradProgramDupe, "graduate_program")
.select("graduate_program")
.show()

In [98]:
%scala
person
.join(gradProgramDupe, joinExpr)
.drop(person.col("graduate_program"))
.select("graduate_program")
.show()
val joinExpr = person.col("graduate_program") === graduateProgram.col("id")
person
.join(graduateProgram, joinExpr)
.drop(graduateProgram.col("id"))
.show()

In [99]:
%scala
val gradProgram3 = graduateProgram
.withColumnRenamed("id", "grad_id")
val joinExpr = person.col("graduate_program") === gradProgram3.col("grad_id")
person
.join(gradProgram3, joinExpr)
.show()

In [100]:
%scala
val joinExpr = person.col("graduate_program") === graduateProgram.col("id")
person
.join(graduateProgram, joinExpr)
.explain()

In [101]:
%scala
import org.apache.spark.sql.functions.broadcast
val joinExpr = person.col("graduate_program") === graduateProgram.col("id")
person
.join(broadcast(graduateProgram), joinExpr)
.explain()